.App {
    background-color: #00BCC8;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer{
    flex: 1;
}

.header{
    flex: 1;
}

.mid{
    flex: 1;
    flex-basis: fit-content;
}